/node_modules
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea

/packages

.DS_Store

yarn.lock
composer.lock
package-lock.json

/public/hot
/public/storage
/public/css
/public/js
/public/fonts
/public/images/*
/public/mix-manifest.json
/public/*.js
/public/*.LICENSE.txt

/storage/api-docs